body {
    padding: 20px;
}

.inline-form {
    display: inline-flex;
    gap: 10px;
    width: 100%;
}

.inline-form .form-half-field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.inline-form .form-half-field textarea {
    height: 350px;
}

.memoryTableWrapper {
    margin-top: 10px;
}

table {
    margin-top: 10px;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    border-width: 1px !important;
}

th,
td {
    padding: 5px;
}

table th,
table td:first-child {
    text-align: center;
    font-weight: bold;
}

table td {
    text-align: end;
}
