<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <title>CPU Simulator</title>
</head>
<body>
<div>
    <div class="inline-form">
        <div class="mb-3 form-half-field">
            <label for="sourceCodeInput" class="form-label">Source code:</label>
            <textarea class="form-control" id="sourceCodeInput" rows="3" name="sourceCode"></textarea>
            <div class="col-auto">
                <button class="btn btn-primary mb-3" onclick="compileCode()">Compilar</button>
            </div>
        </div>
        <div class="mb-3 form-half-field">
            <label for="compiledCodeOutput" class="form-label">Compiled code:</label>
            <textarea class="form-control disabled" id="compiledCodeOutput" rows="3" name="compiledCode"
                      disabled></textarea>
            <div class="col-auto">
                <button id="executeCodeBtn" disabled class="btn btn-primary mb-3" onclick="executeCode()">Execute
                </button>
            </div>
        </div>
    </div>

    <div>
        <label for="outputField" class="form-label">Output:</label>
        <textarea class="form-control" id="outputField" disabled rows="3" name="outputCode"></textarea>
    </div>

    <div class="memoryTableWrapper">
        <h3>Memory</h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">0</th>
                <th scope="col">1</th>
                <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
                <th scope="col">7</th>
                <th scope="col">8</th>
                <th scope="col">9</th>
                <th scope="col">10</th>
                <th scope="col">11</th>
                <th scope="col">12</th>
                <th scope="col">13</th>
                <th scope="col">14</th>
                <th scope="col">15</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>0</td>
                <td id="table-row-0-col-0">0000</td>
                <td id="table-row-0-col-1">0000</td>
                <td id="table-row-0-col-2">0000</td>
                <td id="table-row-0-col-3">0000</td>
                <td id="table-row-0-col-4">0000</td>
                <td id="table-row-0-col-5">0000</td>
                <td id="table-row-0-col-6">0000</td>
                <td id="table-row-0-col-7">0000</td>
                <td id="table-row-0-col-8">0000</td>
                <td id="table-row-0-col-9">0000</td>
                <td id="table-row-0-col-10">0000</td>
                <td id="table-row-0-col-11">0000</td>
                <td id="table-row-0-col-12">0000</td>
                <td id="table-row-0-col-13">0000</td>
                <td id="table-row-0-col-14">0000</td>
                <td id="table-row-0-col-15">0000</td>
            </tr>
            <tr>
                <td>1</td>
                <td id="table-row-1-col-0">0000</td>
                <td id="table-row-1-col-1">0000</td>
                <td id="table-row-1-col-2">0000</td>
                <td id="table-row-1-col-3">0000</td>
                <td id="table-row-1-col-4">0000</td>
                <td id="table-row-1-col-5">0000</td>
                <td id="table-row-1-col-6">0000</td>
                <td id="table-row-1-col-7">0000</td>
                <td id="table-row-1-col-8">0000</td>
                <td id="table-row-1-col-9">0000</td>
                <td id="table-row-1-col-10">0000</td>
                <td id="table-row-1-col-11">0000</td>
                <td id="table-row-1-col-12">0000</td>
                <td id="table-row-1-col-13">0000</td>
                <td id="table-row-1-col-14">0000</td>
                <td id="table-row-1-col-15">0000</td>
            </tr>
            <tr>
                <td>2</td>
                <td id="table-row-2-col-0">0000</td>
                <td id="table-row-2-col-1">0000</td>
                <td id="table-row-2-col-2">0000</td>
                <td id="table-row-2-col-3">0000</td>
                <td id="table-row-2-col-4">0000</td>
                <td id="table-row-2-col-5">0000</td>
                <td id="table-row-2-col-6">0000</td>
                <td id="table-row-2-col-7">0000</td>
                <td id="table-row-2-col-8">0000</td>
                <td id="table-row-2-col-9">0000</td>
                <td id="table-row-2-col-10">0000</td>
                <td id="table-row-2-col-11">0000</td>
                <td id="table-row-2-col-12">0000</td>
                <td id="table-row-2-col-13">0000</td>
                <td id="table-row-2-col-14">0000</td>
                <td id="table-row-2-col-15">0000</td>
            </tr>
            <tr>
                <td>3</td>
                <td id="table-row-3-col-0">0000</td>
                <td id="table-row-3-col-1">0000</td>
                <td id="table-row-3-col-2">0000</td>
                <td id="table-row-3-col-3">0000</td>
                <td id="table-row-3-col-4">0000</td>
                <td id="table-row-3-col-5">0000</td>
                <td id="table-row-3-col-6">0000</td>
                <td id="table-row-3-col-7">0000</td>
                <td id="table-row-3-col-8">0000</td>
                <td id="table-row-3-col-9">0000</td>
                <td id="table-row-3-col-10">0000</td>
                <td id="table-row-3-col-11">0000</td>
                <td id="table-row-3-col-12">0000</td>
                <td id="table-row-3-col-13">0000</td>
                <td id="table-row-3-col-14">0000</td>
                <td id="table-row-3-col-15">0000</td>
            </tr>
            <tr>
                <td>4</td>
                <td id="table-row-4-col-0">0000</td>
                <td id="table-row-4-col-1">0000</td>
                <td id="table-row-4-col-2">0000</td>
                <td id="table-row-4-col-3">0000</td>
                <td id="table-row-4-col-4">0000</td>
                <td id="table-row-4-col-5">0000</td>
                <td id="table-row-4-col-6">0000</td>
                <td id="table-row-4-col-7">0000</td>
                <td id="table-row-4-col-8">0000</td>
                <td id="table-row-4-col-9">0000</td>
                <td id="table-row-4-col-10">0000</td>
                <td id="table-row-4-col-11">0000</td>
                <td id="table-row-4-col-12">0000</td>
                <td id="table-row-4-col-13">0000</td>
                <td id="table-row-4-col-14">0000</td>
                <td id="table-row-4-col-15">0000</td>
            </tr>
            <tr>
                <td>5</td>
                <td id="table-row-5-col-0">0000</td>
                <td id="table-row-5-col-1">0000</td>
                <td id="table-row-5-col-2">0000</td>
                <td id="table-row-5-col-3">0000</td>
                <td id="table-row-5-col-4">0000</td>
                <td id="table-row-5-col-5">0000</td>
                <td id="table-row-5-col-6">0000</td>
                <td id="table-row-5-col-7">0000</td>
                <td id="table-row-5-col-8">0000</td>
                <td id="table-row-5-col-9">0000</td>
                <td id="table-row-5-col-10">0000</td>
                <td id="table-row-5-col-11">0000</td>
                <td id="table-row-5-col-12">0000</td>
                <td id="table-row-5-col-13">0000</td>
                <td id="table-row-5-col-14">0000</td>
                <td id="table-row-5-col-15">0000</td>
            </tr>
            <tr>
                <td>6</td>
                <td id="table-row-6-col-0">0000</td>
                <td id="table-row-6-col-1">0000</td>
                <td id="table-row-6-col-2">0000</td>
                <td id="table-row-6-col-3">0000</td>
                <td id="table-row-6-col-4">0000</td>
                <td id="table-row-6-col-5">0000</td>
                <td id="table-row-6-col-6">0000</td>
                <td id="table-row-6-col-7">0000</td>
                <td id="table-row-6-col-8">0000</td>
                <td id="table-row-6-col-9">0000</td>
                <td id="table-row-6-col-10">0000</td>
                <td id="table-row-6-col-11">0000</td>
                <td id="table-row-6-col-12">0000</td>
                <td id="table-row-6-col-13">0000</td>
                <td id="table-row-6-col-14">0000</td>
                <td id="table-row-6-col-15">0000</td>
            </tr>
            <tr>
                <td>7</td>
                <td id="table-row-7-col-0">0000</td>
                <td id="table-row-7-col-1">0000</td>
                <td id="table-row-7-col-2">0000</td>
                <td id="table-row-7-col-3">0000</td>
                <td id="table-row-7-col-4">0000</td>
                <td id="table-row-7-col-5">0000</td>
                <td id="table-row-7-col-6">0000</td>
                <td id="table-row-7-col-7">0000</td>
                <td id="table-row-7-col-8">0000</td>
                <td id="table-row-7-col-9">0000</td>
                <td id="table-row-7-col-10">0000</td>
                <td id="table-row-7-col-11">0000</td>
                <td id="table-row-7-col-12">0000</td>
                <td id="table-row-7-col-13">0000</td>
                <td id="table-row-7-col-14">0000</td>
                <td id="table-row-7-col-15">0000</td>
            </tr>
            <tr>
                <td>8</td>
                <td id="table-row-8-col-0">0000</td>
                <td id="table-row-8-col-1">0000</td>
                <td id="table-row-8-col-2">0000</td>
                <td id="table-row-8-col-3">0000</td>
                <td id="table-row-8-col-4">0000</td>
                <td id="table-row-8-col-5">0000</td>
                <td id="table-row-8-col-6">0000</td>
                <td id="table-row-8-col-7">0000</td>
                <td id="table-row-8-col-8">0000</td>
                <td id="table-row-8-col-9">0000</td>
                <td id="table-row-8-col-10">0000</td>
                <td id="table-row-8-col-11">0000</td>
                <td id="table-row-8-col-12">0000</td>
                <td id="table-row-8-col-13">0000</td>
                <td id="table-row-8-col-14">0000</td>
                <td id="table-row-8-col-15">0000</td>
            </tr>
            <tr>
                <td>9</td>
                <td id="table-row-9-col-0">0000</td>
                <td id="table-row-9-col-1">0000</td>
                <td id="table-row-9-col-2">0000</td>
                <td id="table-row-9-col-3">0000</td>
                <td id="table-row-9-col-4">0000</td>
                <td id="table-row-9-col-5">0000</td>
                <td id="table-row-9-col-6">0000</td>
                <td id="table-row-9-col-7">0000</td>
                <td id="table-row-9-col-8">0000</td>
                <td id="table-row-9-col-9">0000</td>
                <td id="table-row-9-col-10">0000</td>
                <td id="table-row-9-col-11">0000</td>
                <td id="table-row-9-col-12">0000</td>
                <td id="table-row-9-col-13">0000</td>
                <td id="table-row-9-col-14">0000</td>
                <td id="table-row-9-col-15">0000</td>
            </tr>
            <tr>
                <td>10</td>
                <td id="table-row-10-col-0">0000</td>
                <td id="table-row-10-col-1">0000</td>
                <td id="table-row-10-col-2">0000</td>
                <td id="table-row-10-col-3">0000</td>
                <td id="table-row-10-col-4">0000</td>
                <td id="table-row-10-col-5">0000</td>
                <td id="table-row-10-col-6">0000</td>
                <td id="table-row-10-col-7">0000</td>
                <td id="table-row-10-col-8">0000</td>
                <td id="table-row-10-col-9">0000</td>
                <td id="table-row-10-col-10">0000</td>
                <td id="table-row-10-col-11">0000</td>
                <td id="table-row-10-col-12">0000</td>
                <td id="table-row-10-col-13">0000</td>
                <td id="table-row-10-col-14">0000</td>
                <td id="table-row-10-col-15">0000</td>
            </tr>
            <tr>
                <td>11</td>
                <td id="table-row-11-col-0">0000</td>
                <td id="table-row-11-col-1">0000</td>
                <td id="table-row-11-col-2">0000</td>
                <td id="table-row-11-col-3">0000</td>
                <td id="table-row-11-col-4">0000</td>
                <td id="table-row-11-col-5">0000</td>
                <td id="table-row-11-col-6">0000</td>
                <td id="table-row-11-col-7">0000</td>
                <td id="table-row-11-col-8">0000</td>
                <td id="table-row-11-col-9">0000</td>
                <td id="table-row-11-col-10">0000</td>
                <td id="table-row-11-col-11">0000</td>
                <td id="table-row-11-col-12">0000</td>
                <td id="table-row-11-col-13">0000</td>
                <td id="table-row-11-col-14">0000</td>
                <td id="table-row-11-col-15">0000</td>
            </tr>
            <tr>
                <td>12</td>
                <td id="table-row-12-col-0">0000</td>
                <td id="table-row-12-col-1">0000</td>
                <td id="table-row-12-col-2">0000</td>
                <td id="table-row-12-col-3">0000</td>
                <td id="table-row-12-col-4">0000</td>
                <td id="table-row-12-col-5">0000</td>
                <td id="table-row-12-col-6">0000</td>
                <td id="table-row-12-col-7">0000</td>
                <td id="table-row-12-col-8">0000</td>
                <td id="table-row-12-col-9">0000</td>
                <td id="table-row-12-col-10">0000</td>
                <td id="table-row-12-col-11">0000</td>
                <td id="table-row-12-col-12">0000</td>
                <td id="table-row-12-col-13">0000</td>
                <td id="table-row-12-col-14">0000</td>
                <td id="table-row-12-col-15">0000</td>
            </tr>
            <tr>
                <td>13</td>
                <td id="table-row-13-col-0">0000</td>
                <td id="table-row-13-col-1">0000</td>
                <td id="table-row-13-col-2">0000</td>
                <td id="table-row-13-col-3">0000</td>
                <td id="table-row-13-col-4">0000</td>
                <td id="table-row-13-col-5">0000</td>
                <td id="table-row-13-col-6">0000</td>
                <td id="table-row-13-col-7">0000</td>
                <td id="table-row-13-col-8">0000</td>
                <td id="table-row-13-col-9">0000</td>
                <td id="table-row-13-col-10">0000</td>
                <td id="table-row-13-col-11">0000</td>
                <td id="table-row-13-col-12">0000</td>
                <td id="table-row-13-col-13">0000</td>
                <td id="table-row-13-col-14">0000</td>
                <td id="table-row-13-col-15">0000</td>
            </tr>
            <tr>
                <td>14</td>
                <td id="table-row-14-col-0">0000</td>
                <td id="table-row-14-col-1">0000</td>
                <td id="table-row-14-col-2">0000</td>
                <td id="table-row-14-col-3">0000</td>
                <td id="table-row-14-col-4">0000</td>
                <td id="table-row-14-col-5">0000</td>
                <td id="table-row-14-col-6">0000</td>
                <td id="table-row-14-col-7">0000</td>
                <td id="table-row-14-col-8">0000</td>
                <td id="table-row-14-col-9">0000</td>
                <td id="table-row-14-col-10">0000</td>
                <td id="table-row-14-col-11">0000</td>
                <td id="table-row-14-col-12">0000</td>
                <td id="table-row-14-col-13">0000</td>
                <td id="table-row-14-col-14">0000</td>
                <td id="table-row-14-col-15">0000</td>
            </tr>
            <tr>
                <td>15</td>
                <td id="table-row-15-col-0">0000</td>
                <td id="table-row-15-col-1">0000</td>
                <td id="table-row-15-col-2">0000</td>
                <td id="table-row-15-col-3">0000</td>
                <td id="table-row-15-col-4">0000</td>
                <td id="table-row-15-col-5">0000</td>
                <td id="table-row-15-col-6">0000</td>
                <td id="table-row-15-col-7">0000</td>
                <td id="table-row-15-col-8">0000</td>
                <td id="table-row-15-col-9">0000</td>
                <td id="table-row-15-col-10">0000</td>
                <td id="table-row-15-col-11">0000</td>
                <td id="table-row-15-col-12">0000</td>
                <td id="table-row-15-col-13">0000</td>
                <td id="table-row-15-col-14">0000</td>
                <td id="table-row-15-col-15">0000</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>